<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header>
        <% include ./nav %>
    </header>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h2>Index</h2>

              <table class="table">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>·</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% 
                    contacts.forEach(function(contact) { 
                    %>
                      <tr>
                        <td><%= contact.num %></td>
                        <td><%= contact.name %></td>
                        <td><%= contact.email %></td>
                        <td><%= contact.phone %></td>
                        <td>
                          <a href="/contacts/<%= contact._id %>/edit?_method=PUT" method="post">
                            <button class="form-control btn btn-outline-success">수정</button>
                          </a>
                          
                          <form action="/contacts/<%= contact._id %>?_method=DELETE" method="post">
                            <button type="submit" class="form-control btn btn-outline-danger">삭제</button>
                          </form>
                        </td>
                      </tr>
                    <% 
                    }) 
                    %>
                  </tbody>
              </table>

          </div>
        </div>
    </div>
</body>
</html>